.btn {
    width: auto;
    padding: 10px 30px;
    background: $primary;
    border: 2px solid $border;
    border-radius: 25px;
    text-transform: uppercase;
    color: $dark;
    line-height: normal;
    letter-spacing: 0.5px;
    font-size: 18px;
    font-weight: 600;
    -moz-osx-font-smoothing: inherit;
    -webkit-font-smoothing: inherit;
    cursor: pointer;
    overflow: visible;

    transition: height 0.3s linear 0.2s, width 0.3s linear 0.2s, margin-left 0.5s ease-in-out, transform 0.1s linear;

    &:focus,
    &:active {
        outline: none;
    }

    &:active {
        background: $secondary;
    }

    &:not(:disabled):hover {
        transform: scale(0.95);
    }

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }

    &--loading {
        position: relative;
        height: 45px;
        width: 45px;
        padding: 0;
        margin-left: 50%;
        transform: translateX(-50%);
        background: $primary;
        border-radius: 50%;
        color: $primary;
        overflow: hidden;
        user-select: none;

        &:after {
            content: "";
            position: absolute;
            top: calc(50% - 15px);
            left: calc(50% - 15px);
            display: inline-block;
            height: 30px;
            width: 30px;
            background: $secondary;
            border-radius: 50%;
            box-shadow: 0 0 0 0 $secondary;

            animation: pulse-secondary 2s infinite;
        }
    }

    &--small {
        padding: 5px 10px;
        border: 2px solid $border;
        border-radius: 15px;
        text-transform: uppercase;
        color: $dark;
        font-size: 10px;
        font-weight: 600;
    }

    &--medium {
        padding: 7px 15px;
        border-radius: 20px;
        font-size: 14px;
    }
}
