@import './scss/variables';
@import './scss/buttons';

html {
  height: 100%;

  body {
    height: 100%;
    margin: 0;
    background: $background;

    #root {
      height: 100%;

      .app {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
        font-family: sans-serif;

        form {
          position: relative;
          padding: 20px;
          border-radius: 4px;
          background: $primary;

          h2 {
            margin-top: 0;
            color: $dark;
          }
          
          .btn {
            margin-top: 20px;
          }
        }

        &__response {
          position: absolute;
          bottom: 0;
          left: 0;
        }
      }
    }
  }
}
